body {
    margin-top: 60px;
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', Helvetica, serif !important;
    font-weight: 300;
    letter-spacing: 0.01rem;
    font-size: 1.8rem !important;
    line-height: 1.75em !important;
    color: #3A4145 !important;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}

button {
    margin: 3px !important;
    width: 9%;
}

button.new-game {
    margin: 20px 0px 30px !important;
    min-width: 200px !important;
    width: 25%;
}

h1#title {
    font-family: 'Ultra', Roboto, Helvetica, serif !important;
}

img#placeholder {
    margin: 5px 0 15px 0;
}

.header-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.text-muted {
    text-align: center;
}

#letters {
    font-size: 36px;
    margin: 20px 0;
}
